@model RecipeListVm

@*@{
    var number = Model.pageNumber;
    var end = Model.pageSize + 19;
}

@for(var i = Model.pageSize; i <= end; i++)
{
    <div
        class="card mb-4 ms-1" aria-hidden="true"
        @if (i == end)
        {
                // conditional attributes   
            <text>
                hx-get="@Url.Action("LoadMore", new {pageNumber = number, pageSize = end})"
                hx-trigger="revealed"
                hx-swap="afterend"
            </text>

        }>
        @foreach (var item in Model.Recipes)
        {
                <div>
                    @Html.DisplayFor(modelItem => item.Name)

                    @Html.DisplayFor(modelItem => item.Description)

                    @Html.ActionLink("Details", "GetDetails", new {  id=item.Id  })
                </div>
        }
    </div>
}*@