@model RecipeListVm

@{
    ViewData["Title"] = "Recipe Book";
}

<h1>Recipe Book</h1>

<p>
    <a asp-controller="Recipes" asp-action="Create">Create your recipe here</a>
</p>
<div id="recipes-container">
    @foreach (var item in Model.Recipes)
    {
        <div class="recipe-item">
            @Html.DisplayFor(modelItem => item.Name)

            @Html.DisplayFor(modelItem => item.Description)

            @Html.ActionLink("Details", "GetDetails", new {  id=item.Id  })
        </div>
    }
</div>

@* <button id="showMore">Show more...</button> *@

@* @section Scripts {
    <script>
        var pageNumber = 1;
        
        $("#showMore").click(function () {
            $.ajax({
                url: "/Recipes/LoadMore?pageNumber=" + pageNumber,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    console.log(data);
                    $("#recipes-container").append(data);
                    pageNumber++;
                }
            });
        });
    </script>
} *@
