@model RecipeListVm

@{
    ViewData["Title"] = "Recipe Book";
}

<h1>Recipe Book</h1>

<p>
    <a asp-controller="Recipes" asp-action="Create">Create your recipe here</a>
</p>
<table class="table">
    <thead>
        <tr>
            @*<th>
            Id
            </th>*@
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Recipes)
        {
            <tr>
                @*<td>
            @Html.DisplayFor(modelItem => item.Id)
            </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.ActionLink("Details", "GetDetails", new {  id=item.Id  })
                </td>
            </tr>
        }
    </tbody>
</table>
